@ layout("/admin/common/_layout.html"){

<div class="box box-solid">
    <div class="with-border">
        <ol class="breadcrumb">
            <li><a href="${basepath}/admin"><i class="fa fa-home fa-fw"></i> 首页</a></li>
            <li class="active">用户管理</li>
            <li class="active">用户管理</li>
        </ol>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group col-sm-4 col-xs-6">
                <label for="adminUserName" class="col-sm-3 control-label">用户名</label>

                <div class="col-sm-9">
                    <input type="text" class="form-control" id="adminUserName" placeholder="模糊查询">
                </div>
            </div>
            <div class="form-group col-sm-4 col-xs-6">
                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group col-sm-4 col-xs-6">
                <label for="inputPassword3" class="col-sm-3 control-label">Password</label>

                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm bg-light-blue color-palette pull-right">查询</button>
        </div>
        <!-- /.box-footer -->
    </form>


    <div class="box">
        <div class="box-header">
            <!--<h3 class="box-title">Data Table With Full Features</h3>-->
            <button type="button" class="btn btn-sm btn-primary  margin">新增</button>
            <button type="button" class="btn btn-sm btn-primary  margin">修改</button>
            <button type="button" class="btn btn-sm btn-danger margin">删除</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body box-admin-table">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> 全选
                            </label>
                        </div>
                    </th>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>Gecko</td>
                    <td>Firefox 1.0</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td>1.7</td>
                    <td>A</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary">查看</button>
                        <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#modal-danger">
                            加入黑名单
                        </button>
                    </td>
                </tr>
                <tr role="row" class="odd">
                    <td><input type="checkbox"/></td>
                    <td>Gecko</td>
                    <td>Netscape Navigator 9</td>
                    <td>Win 98+ / OSX.2+</td>
                    <td>1.8</td>
                    <td>A</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary">查看</button>
                        <button type="button" class="btn btn-xs btn-danger ">加入黑名单</button>
                    </td>
                </tr>
                <tr role="row" class="even">
                    <td><input type="checkbox"/></td>
                    <td>Gecko</td>
                    <td>Mozilla 1.0</td>
                    <td>Win 95+ / OSX.1+</td>
                    <td>1</td>
                    <td>A</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-primary">查看</button>
                        <button type="button" class="btn btn-xs btn-danger">加入黑名单</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        @ include("/admin/common/_paginate.html",{tableId:'example1'}){}
    </div>


    <!--删除模态框-->
    <div id="modal-danger" class="modal modal-danger fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">删除</h4>
                </div>
                <div class="modal-body">
                    <p>你确认执行删除操作吗？删除后数据不可恢复!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-outline">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>





@ }