<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <title>index</title>
    <meta name="keywords" content="网站建设">
    <meta name="description" content="">
    <link rel="stylesheet" href="static/front/css/reset.css">
    <link href="static/front/css/index.css" rel="stylesheet" type="text/css"/>
    <script src="static/front/js/jquery.min.js"></script>
    <script src="static/front/js/index.js" type="text/javascript"></script>
    <script src="static/front/js/index-slide.js" type="text/javascript"></script>
    <!--[if IE 6]>
    <script src="static/front/js/DDPngMin.js"></script>
    <script>DD_belatedPNG.fix('.logo a img,.head_tel a img, .in_banner img, .contact_map img,.about_pop_con01 img,.about_pop_tab li a,.about_pop_top h3 img,.about_pop_con01 img');</script>
    <![endif]-->
    <!--[if IE 8]>
    <script src="static/front/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="index" id="index">
    <div class="headbg">
        <div class="head">
            <div class="logo">
                <a href="#"><img src="static/front/images/logo.png"/></a>
            </div>
            <div class="nav" id="nav">
                <ul>
                    <li class="active" onclick="navMove('#index','0')">
                        <a href="javascript:void(0);" title="网站首页">网站首页</a>
                    </li>
                    <li onclick="navMove('#services','1')">
                        <a href="javascript:void(0);" title="服务范围">服务范围</a>
                    </li>
                    <li onclick="navMove('#project','2')">
                        <a href="javascript:void(0);" title="客户案例">客户案例</a>
                    </li>
                    <li onclick="navMove('#about','3')">
                        <a href="javascript:void(0);" title="关于我们">关于我们</a>
                    </li>
                    <li onclick="navMove('#news','4')">
                        <a href="javascript:void(0);" title="资讯中心">资讯中心</a>
                    </li>
                    <li onclick="navMove('#contact','5')">
                        <a href="javascript:void(0);" title="联系我们">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="head_tel">
                <a href="tel:4008870560"><img src="static/front/images/telpic.png" class="png"></a>
            </div>
        </div>
    </div>
    <div class="in_banner">
        <div class="slide_pic">
            <ul>
                <li>
                    <a href="#" title="" style="display:none;"></a>
                    <div class="banner_bg1 opacity" style="opacity:0;">
                        <img src="static/front/images/banner/banner1Bg.jpg" width="1920" height="612" alt=""/>
                    </div>
                    <div class="banner1_img poa opacity" style="opacity:0; top:220px; left:750px;">
                        <img src="static/front/images/banner/banner1_img.png" class="png" width="761" height="327" alt=""/>
                    </div>
                    <div class="banner1_text poa opacity" style="opacity:0; top:180px; left:468px;">
                        <img src="static/front/images/banner/banner1_text.png" width="349" height="125" alt=""/>
                    </div>
                    <div class="banner1_btn poa opacity anima" style="opacity:0; top:450px; left:420px;">
                        <img src="static/front/images/banner/banner1_btn.png" width="226" height="58" alt=""/>
                    </div>
                </li>
                <li>
                    <a href="#" title="" style="display:none;"></a>
                    <div class="banner_bg2 opacity" style="opacity:0;">
                        <img src="static/front/images/banner/banner2Bg.jpg" width="1920" height="612" alt=""/>
                    </div>
                    <div class="banner2_img1 poa opacity" style="opacity:0; bottom:-150px; left:460px;">
                        <img src="static/front/images/banner/banner2_img1.png" class="png" width="414" height="431" alt=""/>
                    </div>
                    <div class="banner2_img2 poa opacity" style="opacity:0; top:80px; left:625px;">
                        <img src="static/front/images/banner/banner2_img2.png" class="png" width="203" height="424" alt=""/>
                    </div>
                    <div class="banner2_title poa opacity" style="opacity:0; top:210px; left:1238px;">
                        4亿人都在用手机浏览网页，<br>你的网站准备好了吗？
                    </div>
                    <div class="banner2_text banner2_text1 poa opacity" style="opacity:0; top:340px; left:1238px;">
                        <p class="p1"><i class="icon1 icon"></i>跨平台，节省开发成本</p>
                        <p class="p2"><i class="icon2 icon"></i>无需下载，即刻浏览</p>
                    </div>
                    <div class="banner2_text banner2_text2 poa opacity" style="opacity:0; top:410px; left:1238px;">
                        <p class="p1"><i class="icon3 icon"></i>有效利用搜索引擎推广</p>
                        <p class="p2"><i class="icon4 icon"></i>便于网络营销推广</p>
                    </div>
                    <div class="banner2_text banner2_text3 poa opacity" style="opacity:0; top:470px; left:1238px;">
                        <p class="p1"><i class="icon5 icon"></i>易于维护</p>
                        <p class="p2"><i class="icon6 icon"></i>域名自动跳转，节省宣传成本</p>
                    </div>
                </li>
                <li>
                    <a href="#" title="" style="display:none;"></a>
                    <div class="banner_bg3 opacity" style="opacity:0;">
                        <img src="static/front/images/banner/banner3Bg.jpg" width="1920" height="612" alt=""/>
                    </div>
                    <div class="banner3_img poa opacity" style="opacity:0; bottom:-50px; left:500px;">
                        <img src="static/front/images/banner/banner3_img.png" width="683" height="466" alt=""/>
                    </div>
                    <div class="banner3_text poa opacity" style="opacity:0; top:215px; right:468px;">
                        <img src="static/front/images/banner/banner3_text.png" width="238" height="199" border="0" alt=""/>
                    </div>
                    <div class="banner3_btn poa opacity anima" style="opacity:0; bottom:0px; right:548px;">
                        <img src="static/front/images/banner/banner3_btn.png" width="203" height="68" alt=""/>
                    </div>
                </li>
                <li>
                    <a href="#" title="" style="display:none;"></a>
                    <div class="banner_bg4 opacity" style="opacity:0;">
                        <img src="static/front/images/banner/banner4Bg.jpg" width="1920" height="612" alt=""/>
                    </div>
                    <div class="banner4_img poa opacity" style="opacity:0; top:132px; left:498px;">
                        <img src="static/front/images/banner/banner4_img.png" width="319" height="446" alt=""/>
                    </div>
                    <div class="banner4_title1 poa opacity" style="opacity:0; top:255px; left:960px;">
                        <img src="static/front/images/banner/banner4_title1.png" width="101" height="47" alt=""/>
                    </div>
                    <div class="banner4_title2 poa opacity" style="opacity:0; top:255px; left:1118px;">
                        <img src="static/front/images/banner/banner4_title2.png" width="101" height="47" alt=""/>
                    </div>
                    <div class="banner4_title3 poa opacity" style="opacity:0; top:255px; left:1280px;">
                        <img src="static/front/images/banner/banner4_title3.png" width="101" height="48" alt=""/>
                    </div>
                    <div class="banner4_text poa opacity" style="opacity:0; top:348px; left:960px;">
                        <p>艾纳一直致力于为中高端要求企业提供高品质的网站建设，以突出企<br>业网络形象为目标，全力打造高端的网站建设项目，实现互联网品牌 <br>一体化服务！</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="javascript:void(0);" class="slide_right" style="right: -50px;"><img src="static/front/images/focus_btnright.png" alt=""/></a>
        <a href="javascript:void(0);" class="slide_left" style="left: -50px;"><img src="static/front/images/focus_btnleft.png" alt=""/></a>

        <script type="text/javascript">
            $(function(){
                $(".in_banner").slide({type:"fade",play:"1",time:"5000"});
            })
        </script>
    </div>
    <div id="services">
        <div class="services_pop" style="display:none;">
            <div class="services_popcon">
                <a href="javascript:void(0);" title="close" class="services_popclose"></a>
                <div class="services_poptabcon">
                    <ul>
                        <li class="services_poptabconbg01" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop01">
                                    <h3>品牌进行时…</h3>
                                    <p>我们相信每个企业品牌都有它的个性，就如它的每个<br>创始人的传奇性一般。如何将它的个性发光发亮，<br>我们一直都专研此道，从视觉出发，颜色、版式、材质、<br>载体每一个都寄托了它的灵魂，<br>我们精于此道：品牌策划、平面设计。</p>
                                </div>
                            </div>
                        </li>
                        <li class="services_poptabconbg02" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop02">
                                    <h3>看到的是细节，感受到的是用心！</h3>
                                    <p>从产品交互原型设计到HTML5前端页面开发，从功能定<br>制到网站上线维护，我们一如既往地根据用户的需求、<br>市场环境、企业状况等进行综合分析并提供真实可靠的<br>WEB解决方案，有效提升企业形象及品牌知名度。</p>
                                </div>
                            </div>
                        </li>
                        <li class="services_poptabconbg03" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop03">
                                    <h3>触摸移动互联网革命！</h3>
                                    <p>我们基于市场主流的IOS/Android平台，提供高效率的跨平台移动互联网解决方案，<br>真正意义上从用户的角度出发，做到一套UI界面苹果、安桌共用，有效节约时间和开发成本。<br>另外我们还提供基于HTML5的WEB  APP开发服务，并可适应WP系统。</p>
                                </div>
                            </div>
                        </li>
                        <li class="services_poptabconbg04" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop04">
                                    <h3>将办公室搬上互联网！</h3>
                                    <p>我们善于基于LAMP架构提供OA企业协同办公系统开发服务，<br>多年来先后为广州市公安局、林业局、芙蓉坊国际美容美体机构等<br>知名单位企业提供网络系统相关解决方案，并实现安全、高效、分布式管理。</p>
                                </div>
                            </div>
                        </li>
                        <li class="services_poptabconbg05" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop05">
                                    <h3>把流量转化成业务量！</h3>
                                    <p>我们长期位居百度广州网站优化排名第一阶梯，拥有丰富的网站优化实战经验，<br>众多的成功案例，能安全高效地把企业的相关服务/产品等极具价值的关键词排名首页，<br>增加网站流量含金量，另外提供微营销服务，全方位持续增加企业收入。</p>
                                </div>
                            </div>
                        </li>
                        <li class="services_poptabconbg06" style="z-index:1; display:none;">
                            <div class="services_popcontainer">
                                <div class="services_popcontainer_pop06">
                                    <h3>每个行业都应该有专属的云主机！</h3>
                                    <p>我们提供超低成本、超弹性、超高性能的国内、香港免备案云主机，为企业及大型门户<br>提供高防高带宽优质机房服务器托管、租赁，域名注册、ICP备案等服务。</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="services_poptabbtn">
                    <a href="javascript:void(0);" title="" onclick="services_tab('0');" class="active"></a>
                    <a href="javascript:void(0);" title="" onclick="services_tab('1');"></a>
                    <a href="javascript:void(0);" title="" onclick="services_tab('2');"></a>
                    <a href="javascript:void(0);" title="" onclick="services_tab('3');"></a>
                    <a href="javascript:void(0);" title="" onclick="services_tab('4');"></a>
                    <a href="javascript:void(0);" title="" onclick="services_tab('5');"></a>
                </div>
            </div>
        </div>
        <div class="services_title">
            <img src="static/front/images/services/services_title.png" width="250" height="70" alt=""/>
        </div>
        <div class="services_con" id="services_con">
            <ul id="services_ul" class="mouseslider">
                <li>
                    <a href="javascript:void(0);" title="" onclick="services_tab('0','true');">
                        <div class="services_icon services_ico05">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>视觉设计 <span>VI DESIGN</span></h3>
                        <p>品牌进行时…</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="" onclick="services_tab('1','true');">
                        <div class="services_icon services_ico01">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>网页设计 <span>WEB DESIGN</span></h3>
                        <p>看到的是细节，感受到的是用心。</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="" onclick="services_tab('2','true');">
                        <div class="services_icon services_ico02">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>移动应用 <span>APP DESIGN</span></h3>
                        <p>触摸移动互联网革命！</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="" onclick="services_tab('3','true');">
                        <div class="services_icon services_ico03">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>系统开发 <span>OA DESIGN</span></h3>
                        <p>将办公室搬上互联网</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" title="" onclick="services_tab('4','true');">
                        <div class="services_icon services_ico04">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>网站优化 <span>SEO/SEM</span></h3>
                        <p>把流量变成持续的现金收入</p>
                    </a>
                </li>
                <li style="margin-right:0;">
                    <a href="javascript:void(0);" title="" onclick="services_tab('5','true');">
                        <div class="services_icon services_ico06">
                            <div style="opacity:0; filter:Alpha(Opacity=0);"></div>
                        </div>
                        <h3>云主机 <span>IDC/VPS</span></h3>
                        <p>每个行业都应该有专属的云主机</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="project">
        <div class="project_title">
            <img src="static/front/images/project/project_title.png" width="250" height="70" alt=""/>
            <a href="#" title="" class="project_title_more"></a>
        </div>
        <div class="projectbg">
            <div class="project_pic">
                <ul>
                    <li>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>南京中脉健康产业集团官网</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/57b197bf2dc4d.jpg" alt="南京中脉健康产业集团官网"/>
                            </div>
                        </a>
                        <a href="#" title="广汽集团-凯美瑞H5方案" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广汽集团-凯美瑞H5方案</h3>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/57ad9263a689a.jpg" alt="广汽集团-凯美瑞H5方案"/>
                            </div>
                        </a>
                        <a href="#" title="中山大学-高等教育学院" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>中山大学-高等教育学院</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/577e0bdb7049c.jpg" alt="中山大学-高等教育学院"/>
                            </div>
                        </a>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>海梵纪</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/577e0a8836ce7.jpg" alt="海梵纪"/>
                            </div>
                        </a>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>百师椅-商业空间定制家具商</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/577e09e320ca5.jpg" alt="百师椅-商业空间定制家具商"/>
                            </div>
                        </a>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>麦斯-专业栏杆座定制领跑者</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/575e635600bc6.jpg" alt="麦斯-专业栏杆座定制领跑者"/>
                            </div>
                        </a>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>润成创展木门</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/575e618947d28.jpg" alt="润成创展木门"/>
                            </div>
                        </a>
                        <a href="#" title="南京中脉健康产业集团官网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>道和集团官网2015版</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/55ead30bb2b81.jpg" alt="道和集团官网2015版"/>
                            </div>
                        </a>
                    </li>
                    <li style="display:none;">
                        <a href="#" title="广汽丰田致炫2015CCTC中国房车锦标赛" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广汽丰田致炫2015CCTC中国房车锦标赛</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/55dc364ab0e97.jpg" alt="广汽丰田致炫2015CCTC中国房车锦标赛"/>
                            </div>
                        </a>
                        <a href="#" title="广东省海上丝绸之路文化促进会" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广东省海上丝绸之路文化促进会</h3>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/5559bcccdc93b.jpg" alt="广东省海上丝绸之路文化促进会"/>
                            </div>
                        </a>
                        <a href="#" title="鑫鹏橡塑" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>鑫鹏橡塑</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/551e677a65c6a.jpg" alt="鑫鹏橡塑"/>
                            </div>
                        </a>
                        <a href="#" title="六宜" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>六宜</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/551ba7d2accf2.jpg" alt="六宜"/>
                            </div>
                        </a>
                        <a href="#" title="缔创陈列展示制品有限公司" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>缔创陈列展示制品有限公司</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/551682d822ec9.jpg" alt="缔创陈列展示制品有限公司"/>
                            </div>
                        </a>
                        <a href="#" title="广东省凯纳投资管理有限公司" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广东省凯纳投资管理有限公司</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/551682598ecc3.jpg" alt="广东省凯纳投资管理有限公司"/>
                            </div>
                        </a>
                        <a href="#" title="人人美术艺术交流中心" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>人人美术艺术交流中心</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/55167b9b7d2ef.jpg" alt="人人美术艺术交流中心"/>
                            </div>
                        </a>
                        <a href="#" title="80houzz-软装设计师平台" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>80houzz-软装设计师平台</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/548167b5838e6.jpg" alt="80houzz-软装设计师平台"/>
                            </div>
                        </a>
                    </li>
                    <li style="display:none;">
                        <a href="#" title="天耀财富" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>天耀财富</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/547fef14d80fa.jpg" alt="天耀财富"/>
                            </div>
                        </a>
                        <a href="#" title="健康车距领导品牌——牧宝云购" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>健康车距领导品牌——牧宝云购</h3>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/54409a627431f.jpg" alt="健康车距领导品牌——牧宝云购"/>
                            </div>
                        </a>
                        <a href="#" title="宝洁中国微信网站——宝洁生活家" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>宝洁中国微信网站——宝洁生活家</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/543ced1a34ef0.jpg" alt="宝洁中国微信网站——宝洁生活家"/>
                            </div>
                        </a>
                        <a href="#" title="幸福砚都——广州智慧服务平台" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>幸福砚都——广州智慧服务平台</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/5427b74f75884.jpg" alt="幸福砚都——广州智慧服务平台"/>
                            </div>
                        </a>
                        <a href="#" title="广州翰景管理咨询有限公司" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广州翰景管理咨询有限公司</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/5416af9b11488.jpg" alt="广州翰景管理咨询有限公司"/>
                            </div>
                        </a>
                        <a href="#" title="高新技术产品国际采购服务中心" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>高新技术产品国际采购服务中心</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/5416ae52011f9.jpg" alt="高新技术产品国际采购服务中心"/>
                            </div>
                        </a>
                        <a href="#" title="法评网" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>法评网</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img src="static/front/images/project/54129b9ac148e.jpg" alt="法评网"/>
                            </div>
                        </a>
                        <a href="#" title="广州白云山制药总厂——抗之霸" class="project_box workpop1">
                            <div class="project_pop" style="display:none;">
                                <h3>广州白云山制药总厂——抗之霸</h3>
                                <p>WEB DESIGN</p>
                                <i></i>
                            </div>
                            <div class="project_img">
                                <img  src="static/front/images/project/53f605ee19d81.jpg" alt="广州白云山制药总厂——抗之霸"/>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="project_btn">
                <a href="javascript:void(0);" title="" onclick="project_tab('0')" class="active"></a>
                <a href="javascript:void(0);" title="" onclick="project_tab('1')"></a>
                <a href="javascript:void(0);" title="" onclick="project_tab('2')"></a>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="about_title">
            <img src="static/front/images/about/about_title.png" width="250" height="70" alt=""/>
        </div>
        <div class="about_list clear_box">
            <ul>
                <li><img src="static/front/images/about/pic09.jpg" alt=""/></li>
                <li><img src="static/front/images/about/pic10.jpg" alt=""/></li>
                <li><img src="static/front/images/about/pic11.jpg" alt=""/></li>
                <li><img src="static/front/images/about/pic12.jpg" alt=""/></li>
            </ul>
            <!--  ::after-->
        </div>
        <div class="about_int">
            <a href="javascript:void(0);" title="" class="about_btn">
                <span style="opacity:0;"></span>
            </a>
        </div>
        <div class="about_pop" id="about_pop" style="display:none;">
            <div class="about_pop_top">
                <a href="javascript:void(0);" title="close" class="about_popclose"></a>
                <h3>
                    <!--<img src="static/front/images/about/about_popword.png" alt="" class="png">-->
                </h3>
                <p class="about_pop_int">艾纳拥有一支年轻的IT及设计领域精英团队，是广州最优秀的视觉和用户体验设计公司之一……</p>
                <div class="about_pop_tab clearbox">
                    <ul>
                        <li class="active" onclick="aboutpop_tab('0')">
                            <a href="javascript:void(0);" title="" class="about_pop_tab01"></a>
                        </li>
                        <li onclick="aboutpop_tab('1')">
                            <a href="javascript:void(0);" title="" class="about_pop_tab02"></a>
                        </li>
                        <li onclick="aboutpop_tab('2')">
                            <a href="javascript:void(0);" title="" class="about_pop_tab03"></a>
                        </li>
                        <li onclick="aboutpop_tab('3')">
                            <a href="javascript:void(0);" title="" class="about_pop_tab04"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="about_pop_con">
                <ul>
                    <li class="about_pop_con01" style="display:block;">
                        <img src="static/front/images/about/about_logo.jpg" width="283" height="171" class="aobut_pop_aboutlogo" alt="100"/>
                        <div class="about_pop_about">
                            <h3>方兴未艾·海纳百川</h3>
                            <p>艾纳成立于2007年，是广州专业的网络品牌服务商，我们坚持以优秀的创意设计团队、领先的软件编程技术、出其不意的电子商务战略，鼎力为国内外知名企业提供全方位的网页设计、移动应用、网络系统、视觉设计、网站优化以及云主机租恁等服务。</p>
                            <p>&nbsp;</p>
                            <p style="color:#333; font-size:16px;">艾纳成长历程：</p>
                            <p>2007年成立艾纳工作室并联合广州各高校IT精英从事网站建设工作；</p>
                            <p>2008年香港非遗忘英语网站制作及系列网络推广活动；</p>
                            <p>2009年深圳65环保门户网站整站设计制作；</p>
                            <p>2009年中国电信（广州总部）中秋节系列包装设计制作；</p>
                            <p>2010年注册成立广州市艾纳信息科技有限公司；</p>
                            <p>2010年芙蓉坊美容美体健身国际连锁机构ERP管理系统开发；</p>
                            <p>2011年日立电梯支援管理系统开发/广东粤电集团ERP管理界面开发；</p>
                            <p>2012年CCPO摄影培训基地整个网络营销策划以及执行；</p>
                            <p>2013年道和集团以及道和集团旗下公司开发及营销策划；</p>
                            <p>2014年白云山抗之霸和白云山金戈网站开发以及营销策划；</p>
                            <p>2014年宝洁中国微信公众号开发-宝洁生活家；</p>
                            <p>2014年转战微信公众号营销，三级分销，粉丝经济+红包营销；</p>
                            <p>未来期待您的参与...</p>
                        </div>
                    </li>
                    <li class="about_pop_con02" style="display:none;">
                        <div class="about_pop_job">
                            <h3>实习设计师助理</h3>
                            <p>岗位职责：<br>参与项目设计执行流程，了解产品开发全过程。辅助设计师完成重大项目。参与一定的产品分析，交互设计，产品界面视觉设计及规范文档整理工作；</p>
                            <p>任职要求：<br>精通设计类相关软件，热衷于界面设计与交互设计；具有一定的交互分析以及理解能力；<br>优秀的视觉设计感觉与潜力；有完整独立作品可供参考。</p>
                            <p>招聘人数：1<br>工作地点：广州</p>
                            <p>请发简历到：jobs\@ainatec.com</p>
                        </div>
                        <div class="about_pop_job">
                            <h3>高级视觉设计师</h3>
                            <p>岗位职责：<br>对用户行为做分析，形成观点和需求，对行业产品趋势分析，评估现有产品的用户体验；<br>撰写用户体验分析文档，配合视觉设计师完成产品设计。</p>
                            <p>任职要求：<br>一年以上相关工作经验，性格开朗，积极乐观,良好的沟通、表达能力, 团队意识强烈，热衷于研究各类电子产品或互联网产品，有较好的英语读写能力。</p>
                            <p>招聘人数：1<br>工作地点：广州</p>
                            <p>请发简历到：jobs\@ainatec.com</p>
                        </div>
                        <div class="about_pop_job">
                            <h3>iOS/Android开发工程师</h3>
                            <p>岗位职责：<br>负责iOS或Android客户端应用的设计研发；<br>能与团队成员高效配合，完成项目工作。</p>
                            <p>任职要求：<br>一年以上iOS或Android开发经验；有扎实的Object C/C++/C/Java语言基础；熟练掌握开发技术，包括UI、网络等方面；熟悉相关开发工具和相关测试工具的使用；学习能力强，有较强分析解决问题的能力；对移动产品有浓厚兴趣。</p>
                            <p>招聘人数：1<br>工作地点：广州</p>
                            <p>请发简历到：jobs\@ainatec.com</p>
                        </div>
                        <div class="about_pop_job">
                            <h3>PHP开发工程师</h3>
                            <p>岗位职责：<br>负责网站或相关产品的PHP研发工作；能与团队成员高效配合，完成项目工作。</p>
                            <p>任职要求：<br>至少两年相关工作经验；一年以上PHP开发及维护工作经验；熟练掌握MySQL数据库，LA/NMP；熟练应用HTML/JavaScript;熟悉相关开发工具和测试工具的使用；学习能力强，有较强分析解决问题的能力。</p>
                            <p>招聘人数：1<br>工作地点：广州</p>
                            <p>请发简历到：jobs\@ainatec.com</p>
                        </div>
                        <div class="clearfloat"></div>
                    </li>
                    <li class="about_pop_con03" style="display:none;">
                        <img src="static/front/images/about/fwlc_pic.jpg" alt=""/>
                    </li>
                    <li class="about_pop_con04" style="display:none;">
                        <dl class="about_pop_client clearbox">
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_1.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_2.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_3.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_4.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_5.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_6.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_7.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_8.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_9.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_10.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_11.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_12.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_13.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_14.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_15.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_16.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_18.gif" border="0" alt=""/></a></dd>
                            <dd><a href="#" title=""><img src="static/front/images/about/tg_clients_17.gif" border="0" alt=""/></a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="newbg" id="news">
        <div class="news">
            <div class="news_box fl">
                <div class="news_title">
                    <a href="#" title="">公司动态&nbsp;<span>News</span></a>
                </div>
                <ul class="news_list">
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                </ul>
            </div>
            <div class="news_line">
            </div>
            <div class="news_box fl">
                <div class="news_title">
                    <a href="#" title="">公司动态&nbsp;<span>News</span></a>
                </div>
                <ul class="news_list">
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                </ul>
            </div>
            <div class="news_line">
            </div>
            <div class="news_box fr">
                <div class="news_title">
                    <a href="#" title="">公司动态&nbsp;<span>News</span></a>
                </div>
                <ul class="news_list">
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                    <li><span>11/02</span><a href="#" title="艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案">艾纳信息科技即将推出艾纳商务通O2O移动营销解决方案</a></li>
                </ul>
            </div>
            <div class="clearfloat"></div>
        </div>
    </div>
    <div class="contactbg" id="contact">
        <div class="contact clearbox">
            <div class="message">
                <h3>告诉我们您的需求</h3>
                <h4>TELL US WHAT YOU NEED</h4>
                <form id="messageform">
                    <div class="message_form">
                        <input type="text" name="title" class="message_name" value="请输入您的姓名" onfocus="if (value =='请输入您的姓名'){value =''}" onblur="if (value==''){value='请输入您的姓名'}"/>
                        <input type="text" name="qq" class="message_tel" value="请输入您的QQ" onfocus="if (value=='请输入您的QQ'){value=''}" onblur="if (value==''){value='请输入您的QQ'}"/>
                        <div class="clear" style="height:20px;"></div>
                        <textarea class="message_content" name="content" onfocus="if (this.innerHTML =='请输入您的留言'){value =''}" onblur="if (this.innerHTML ==''){value ='请输入您的留言'}">请输入您的留言</textarea>
                        <div class="clear" style="height:25px;"></div>
                        <input type="submit" value="" class="message_btn" onmouseover="this.className='message_btnch'" onmouseout="this.className='message_btn'"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="message_about">我们将在1个工作日内回复，资料会保密处理。</span>
                    </div>
                </form>
            </div>
            <div class="contact_map">
                <img src="static/front/images/map_pop.png" width="297" height="297" class="png" alt=""/>
            </div>
        </div>
    </div>
    <div class="foot_linksbg">
        <div class="foot_links">
            <div class="links">
                <h3>LINK</h3>
                <div class="links_con">
                    <a href="#" target="_blank" title="深圳网站建设">深圳网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="设计名站">设计名站</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="上海网站设计公司">上海网站设计公司</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="淘宝培训">淘宝培训</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="邯郸网站建设">邯郸网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="包头网站建设">包头网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="长沙网站建设">长沙网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="邯郸网站建设">邯郸网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="北京网站建设">北京网站建设</a>
                </div>
            </div>
            <div class="keyword">
                <h3>KEYWORD</h3>
                <div class="links_con">
                    <a href="#" target="_blank" title="广州网站建设">广州网站建设</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="广州网站改版">广州网站改版</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="广州网站优化">广州网站优化</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="广州系统开发">广州系统开发</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="广州app开发">广州app开发</a>
                    &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#" target="_blank" title="广州网页设计">广州网页设计</a>
                </div>
            </div>
            <div class="address">
                <p><a href="#" title="">广州市艾纳信息科技有限公司</a></p>
                <p>办公室：广州市天河区中山大道西209号历德雅舍B座3G</p>
                <p>商务接待：广州市珠江新城富力盈凯2305</p>
            </div>
            <div class="link_btn">
                <ul>
                    <li><a href="#" title="" class="link_qq"></a></li>
                    <li><a href="#" title="" class="link_sina"></a></li>
                    <li class="link_weixin_li">
                        <a href="javascript:void(0);" title="" class="link_weixin"></a>
                        <div class="link_weixin_ewm" style="overflow:hidden; height:0px;">
                            <img src="static/front/images/ewm.jpg" width="129" height="129" alt=""/>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footbg">
        <div class="foot">
            <p class="fl">
                Copyright © 2010-2012
                <a href="#" title="艾纳">艾纳信息科技</a>
                保留公司所有权利&nbsp;&nbsp;&nbsp;
                <a href="#">粤ICP备10223458<br>号-1</a>
            </p>
            <p class="fr">
                <a href="#" title="">关于我们</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" title="">联系我们</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" title="">网站地图</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#" title="" target="_blank">网站统计</a>
            </p>
        </div>
    </div>
</div>
<div class="qqicon">
    <a href="#" title="建议咨询" target="_blank">
        <img src="static/front/images/qqico2.png" width="67" height="65" alt="建站咨询" class="png"/>
    </a>
    <a href="#" title="视觉设计" target="_blank">
        <img src="static/front/images/qqico1.png" width="67" height="65" alt="视觉设计" class="png"/>
    </a>
</div>
<script>
    function correctPNG() {
        var arVersion = navigator.appVersion.split("MSIE");
        var version = parseFloat(arVersion[1]);
        if ((version >= 5.5) && (document.body.filters)) {
            var lee_i = 0;
            var docimgs=document.images;
            for (var j = 0; j < docimgs.length; j++) {
                var img = docimgs[j];
                var imgName = img.src.toUpperCase();
                if (imgName.substring(imgName.length - 3, imgName.length) == "PNG" && !img.getAttribute("usemap")) {
                    lee_i++;
                    var SpanID = img.id || 'ra_png_' + lee_i.toString();
                    var imgData = new Image();
                    imgData.proData = SpanID;
                    imgData.onload = function () {
                        $("#" + this.proData).css("width", this.width + "px").css("height", this.height + "px");
                    };
                    imgData.src = img.src;
                    var imgID = "id='" + SpanID + "' ";
                    var imgClass = (img.className) ? "class='" + img.className + "' " : "";
                    var imgTitle = (img.title) ? "title='" + img.title + "' " : "title='" + img.alt + "' ";
                    var imgStyle = "display:inline-block;" + img.style.cssText;
                    if (img.align == "left") imgStyle = "float:left;" + imgStyle;
                    if (img.align == "right") imgStyle = "float:right;" + imgStyle;
                    if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle;
                    var strNewHTML = "<span " + imgID + imgClass + imgTitle
                            + " style=\"" + "width:" + img.width + "px; height:" + img.height + "px;" + imgStyle + ";"
                            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
                            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>";
                    img.outerHTML = strNewHTML;
                    j = j - 1;
                }
            }
        }
    }
    if (typeof window.addEventListener == "undefined" && typeof document.getElementsByClassName == "undefined") {
        window.attachEvent("onload", correctPNG);
    }
</script>
</body>
</html>
